body {
  background: #9a5000 !important;
  background-color: #9a5000 !important;
  /*counter-reset: h1counter h2counter h3counter h4counter;

    section {
        counter-reset: none;
    }

    h1 {
        counter-reset: h2counter h3counter h4counter;

        &:before {
            counter-increment: h1counter 1;
            content: counter(h1counter) "\0000a0\0000a0";
        }
    }

    h2 {
        counter-reset: h3counter h4counter;

        &:before {
            counter-increment: h2counter 1;
            content: counter(h1counter) "-" counter(h2counter) "\0000a0\0000a0";
        }
    }

    h3 {
        counter-reset: h4counter;
        &:before {
            counter-increment: h3counter 1;
            content: counter(h1counter) "-" counter(h2counter) "-" counter(h3counter) "\0000a0\0000a0";
        }
    }*/ }
  body div.header {
    position: relative; }
    body div.header div.title {
      position: absolute;
      top: 12px;
      font-size: 1.5em;
      background: #9a5000;
      left: 7%;
      padding: 0 20px; }

div.header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 20px 15px;
  font-size: 2em;
  color: #fff;
  font-weight: 800; }

.reveal em {
  font-style: normal;
  color: #9e9ec7;
  font-weight: bold;
  text-decoration: underline; }

.reveal img.pos-0-1 {
  position: absolute;
  left: -220px;
  top: -60px;
  max-width: 200px;
  max-height: 200px; }

.reveal img.pos-1-1 {
  position: absolute;
  right: -220px;
  top: -60px;
  max-width: 200px;
  max-height: 200px; }

.reveal img.pos-0-0 {
  position: absolute;
  left: -220px;
  bottom: 0px;
  max-width: 200px;
  max-height: 200px; }

.reveal img.pos-1-0 {
  position: absolute;
  right: -220px;
  bottom: 0px;
  max-width: 200px;
  max-height: 200px; }
